/* This is to control the height of the blog image */
.custom-image-height {
  height: 200px;
  object-fit: cover;
}

/* This is to control the height of the card in the blog page */
.custom-card-height {
  max-height: 300px;
  overflow: hidden;
}

.custom-card-height {
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}

.custom-card-height:active {
  transform: scale(0.98);
  /* Slightly scale down when clicked */
  opacity: 0.8;
  /* Reduce opacity when clicked */
}

/* Control the width so that I could put a proper margin with mx-auto */
.width-98 {
  max-width: 98%;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

#section {
  font-family: 'Lora', sans-serif;
  font-weight: 700;
}

small {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: grey;
}

.text-left-custom {
  text-align: left;
}

.border-bottom-custom {
  border-bottom: 2px solid #292626;
  border-width: thin;
}

.scrollable-x {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.card {
  min-width: 400px;
  flex: 0 0 auto;
}

.add-y {
  min-width: 150px;
}

/* Css for the + and list icons */
.fab-container {
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 1000;
}

.fab-container-view {
  position: fixed;
  bottom: 140px;
  right: 20px;
  z-index: 1000;
}

.fab-button {
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: white;
}

.fab-button .fas {
  font-size: 24px;
}

.main-content {
  padding-bottom: 75px;
}

fab-button {
  transition: transform 0.2s, background-color 0.2s;
  cursor: pointer;
}

.fab-button:active {
  transform: scale(0.95);
  background-color: #e0e0e0;
}