.Log {
    --bs-btn-hover-bg: #c8c8c8;
    --bs-btn-hover-border-color: #c8c8c8;
    --bs-btn-active-color: #222831;
    --bs-btn-active-bg: #b8b8b8;
    --bs-btn-active-border-color: #b8b8b8;
    background-color: #D9D9D9;
    color: #222831;
    border-color: #D9D9D9;
}

.exercise-info {
    display: flex;
    gap: 10px;
}

.logrow {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.completion {
    color: green;
}
.incompletion {
    color: red;
}

.workoutTitle {
    color: white;
}

.set, .reps, .kg, .time {
    color: white;
}

.progress {
    height: auto; 
    overflow: hidden;
    font-size: 1rem; /* Adjust font size as needed */
    background-color: #3E3F48; /* Background color for the progress bar */
    box-shadow: none; /* Remove inset shadow */
    color: white;
    padding-top: 10px;
}


.progress-track {
    display: flex;
    justify-content: left;
    background-color: #3E3F48; /* Background color for the progress track */
    box-shadow: none; /* Remove inset shadow */
    color: white;
}

.hidden {
    display: none;
}

.card-header.d-flex {
    flex-direction: row !important; /* Ensure it overrides other styles */
}

.CardMealExercise {
    max-width: 100% !important; /* Use !important if necessary, but with caution */
}

.FoodCard {
    min-width: 70% !important;
}

.ExerciseCard {
    min-width: 70% !important;
}


.MealCardBody {
    display: flex;
    justify-content: center;
}

.ExerciseCardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}


body {
    padding-bottom: 50px;
}

div.exercise-info {
    margin-bottom: 10px;
}

