<%- include('templates/header') %>
<div class="container mt-5">
  <h2 class="text-center mb-4"> <%= mealType.charAt(0).toUpperCase() + mealType.slice(1) %></h2>

  <form action="/health/addMeal" method="post" class="needs-validation" novalidate>
    <input type="hidden" name="mealType" value="<%= mealType %>">
    <div class="mb-3">
      <label for="foodName" class="form-label">Food Name:</label>
      <input type="text" class="form-control" id="foodName" name="foodName" required>
      <div class="invalid-feedback">
        Please enter the food name.
      </div>
    </div>
    <div id="ingredientsContainer">
      <div class="ingredient-group mb-3">
        <label for="ingredient" class="form-label">Ingredient:</label>
        <input type="text" class="form-control ingredient" name="ingredients[]" required>
        <div class="invalid-feedback">
          Please enter an ingredient.
        </div>
        <label for="portionSize" class="form-label mt-2">Portion Size:</label>
        <div class="input-group">
          <input type="number" class="form-control portionSize" name="portionSizes[]" step="any" required>
          <select class="form-select form-select-sm portionUnit" name="portionUnits[]" required>
            <option value="g">g</option>
            <option value="ml">ml</option>
            <option value="oz">oz</option>
            <option value="cup">cup</option>
          </select>
          <div class="invalid-feedback">
            Please enter the portion size.
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <button type="button" id="addIngredient" class="btn btn-secondary">Add Another Ingredient</button>
      <button type="submit" class="btn btn-primary">Add Food</button>
    </div>
  </form>
  <ul id="autocomplete-results" class="list-group mt-3" style="display: none;"></ul>
</div>
<%- include('templates/footer') %>
<script src="/script/addMeal.js"></script>

<script>
  // Form validation
  (function () {
    'use strict'
    var forms = document.querySelectorAll('.needs-validation')
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>

<style>

.input-group .form-select-sm {
    flex: 0 0 80px;
    max-width: 80px;
}

.d-flex.justify-content-between {
    margin-top: 20px;
}


.mb-3 {
    margin-bottom: 1.5rem;
}


</style>