<%- include('templates/header') %>
    <div class="container mt-5 d-flex justify-content-center align-items-center">
        <div id="botCard" class="card p-4 bg-transparent" style="width: 100%; max-width: 600px;">
            <form action="/bot/generate" method="POST" class="form">
                <div class="form-group">
                    <label>Primary Goal</label>
                    <select name="goal" class="form-control">
                        <option value="Lose fat">Lose fat</option>
                        <option value="Build muscle">Build muscle</option>
                        <option value="Maintain">Maintain</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Training Method</label>
                    <select name="method" class="form-control">
                        <option value="Resistance + cardio">Resistance + cardio</option>
                        <option value="Resistance only">Resistance only</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Workout Type</label>
                    <select name="type" class="form-control">
                        <option value="No equipment">No equipment</option>
                        <option value="Weighted">Weighted</option>
                        <option value="Body Weighted">Body Weighted</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Strength Level</label>
                    <select name="level" class="form-control">
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Advanced">Advanced</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Training Days</label><br>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" name="days" value="Sunday" class="form-check-input">
                        <label class="form-check-label">Sunday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" name="days" value="Monday" class="form-check-input">
                        <label class="form-check-label">Monday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" name="days" value="Tuesday" class="form-check-input">
                        <label class="form-check-label">Tuesday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" name="days" value="Wednesday" class="form-check-input">
                        <label class="form-check-label">Wednesday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" name="days" value="Thursday" class="form-check-input">
                        <label class="form-check-label">Thursday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" name="days" value="Friday" class="form-check-input">
                        <label class="form-check-label">Friday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" name="days" value="Saturday" class="form-check-input">
                        <label class="form-check-label">Saturday</label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Workout Time</label>
                    <select name="time" class="form-control">
                        <option value="30">30 mins</option>
                        <option value="45">45 mins</option>
                        <option value="60">60 mins</option>
                        <option value="75">75 mins</option>
                        <option value="90">90 mins</option>
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary m-4 ">Generate Workout</button>
                </div>
            </form>

            <% if (hasCurrentRoutine) { %>
                <div class="d-flex justify-content-center mt-3">
                    <a href="/history" class="btn btn-secondary">View History</a>
                </div>
                <% } %>

        </div>
    </div>
    <%- include('templates/footer') %>