<%- include('templates/header') %>
    <ul>
        <% recommendations.forEach(function(recommendation) { %>
            <li>
                <%= recommendation.name %>: <%= recommendation.repetitions %> reps
            </li>
            <% }) %>
    </ul>
    <%- include('templates/footer') %>