<link href="/css/homeTop.css" rel="stylesheet">

    <!-- Calender bar and user greeting -->
    <div class="calender-body">
        <div class="calendar-bar">
            <div class="calendar-header">
                <h5>Hello, User!</h5>
                <button class="btn month-button" data-toggle="modal" data-target="#dateModal" id="monthButton">May 2024</button>
            </div>
            <div class="calendar-container">
                <div class="calendar d-flex" id="calendar"></div>
            </div>
        </div>
        <div id="history"></div>
        <!-- Calender modal -->
        <div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="dateModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="dateModalLabel">Select a Date</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-calendar-container">
                            <input type="text" id="datepicker" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="confirmDate">Confirm Date</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="progression-body pb-3">
        <div class="progression-container">
            <div class="progression-box" onclick="navigateTo('/weight')">
                <h3>Weight</h3>
                <p>Current: 180 lbs</p>
                <p>Goal: 150 lbs</p>
                <p>You have lost 30 lbs so far! 😊</p>
            </div>
            <div class="progression-box" onclick="navigateTo('/steps')">
                <h3>Steps</h3>
                <p>Current: 50</p>
                <p>Goal: 10000</p>
                <p>You have 9950 steps left! 😊</p>
            </div>
            <div class="progression-box" onclick="navigateTo('/exercises')">
                <h3>Exercises</h3>
                <p>Total: 5</p>
                <p>Left: 5</p>
                <p>You have completed 0 exercises! 😊</p>
            </div>
            <div class="progression-box" onclick="navigateTo('/health/macroProgression')">
                <h3>Calories</h3>
                <p>Consumed: 2000</p>
                <p>Goal: 2500</p>
                <p>You have burned 200 calories! You have 700 calories left! 😊</p>
            </div>
        </div>
    </div>

    <script src="/script/progression.js"></script>

