<%- include('templates/header') %>
<script src="/script/calendar.js"></script>
<%- include('templates/footer', { user: user }) %>
    <%- include("homeTop") %>
        <%- include("homeBot") %>

            <!-- Popup modal for saved workouts -->
            <% if (saved==='true' ) { %>
                <div class="modal fade" id="savedModal" tabindex="-1" aria-labelledby="savedModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body text-black">
                                Your workouts have been saved successfully!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary text-black"
                                    data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>

                    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>           I removed its because its on footer and conflicting with collapse
                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

                    <script src="/script/savePopup.js"></script>

