<link href="/css/homeBot.css" rel="stylesheet">
<div class="accordion accordionHome" id="accordionExample">
    <div class="card CardMealExercise" style="background-color: #2E2F38">
      <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <h5 class="mb-0">
          <a class="text-white" style="text-decoration: none;">Meal</a>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
        <div class="card-body MealCardBody">
          <div class="card FoodCard" style="background-color: #3E3F48;">
            <div class="card-header Food" style="background-color: #3E3F48; color: white;">
              <div class="Breakfast">
                <b>Breakfast</b>
              </div>
              <a href="/addFood" class="btn btn-primary FoodButton">Add food</a>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item first-breakfast-item" style="background-color: #3E3F48; color: white;">
                <div>Boiled Egg</div>
              </li>
              <li class="list-group-item second-breakfast-item" style="background-color: #3E3F48; color: white;">Fried Chicken</li>
              <li class="list-group-item third-breakfast-item" style="background-color: #3E3F48; color: white;">Korean Fried Chicken</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card CardMealExercise" style="background-color: #2E2F38;">
      <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h5 class="mb-0">
          <a class="text-white" style="text-decoration: none;">Exercises</a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
        <div class="card-body ExerciseCardBody">
          <div class="card ExerciseCard" style= "background-color: #3E3F48;">
            <div class="card-body">
              <h5 class="card-title workoutTitle"><b>Bench Press</b></h5>
                <div class="exercise-info">
                    <p class="card-text time"></p>
                    <p class="card-text set">5 Sets</p>
                    <p class="card-text reps">15 Reps</p>
                    <p class="card-text kg">45 kg</p>
                </div>
                <div class="logrow">
                    <a href="/logExercise" class="btn btn-primary Log">Edit</a>
                    <p class="incompletion">incomplete</p>
                </div>
                <div class="progress"> Progress: </div>
                <p class="progress-track">1 sets, 3reps, 45 kg</p>
            </div>
          </div>
          <div class="card ExerciseCard" style="background-color: #3E3F48;">
            <div class="card-body">
              <h5 class="card-title workoutTitle"><b>Bicep Curls</b></h5>
                <div class="exercise-info">
                    <p class="card-text time"></p>
                    <p class="card-text set">3 Sets</p>
                    <p class="card-text reps">15 Reps</p>
                    <p class="card-text kg">45 kg</p>
                </div>
                <div class="logrow">
                    <a href="/logExercise" class="btn btn-primary Log">Edit</a>
                    <p class="completion">complete</p>
                </div>
                <div class="progress"> Progress: </div>
                <p class="progress-track">3 sets, 3reps, 45 kg</p>
            </div>
          </div>
          <div class="card ExerciseCard" style="background-color: #3E3F48;">
            <div class="card-body">
              <h5 class="card-title workoutTitle"><b>Jog</b></h5>
                <div class="exercise-info">
                    <p class="card-text time"> 20minutes </p>
                    <p class="card-text set"></p>
                    <p class="card-text reps"></p>
                    <p class="card-text kg"></p>
                </div>
                <div class="logrow">
                    <a href="/logExercise" class="btn btn-primary Log">Edit</a>
                    <p class="incompletion">incomplete</p>
                </div>
                <div class="progress"> Progress: </div>
                <p class="progress-track">5 minutes</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
