<%- include('templates/header') %>
<div class="container mt-5">

  <% if (errorMessage) { %>
    <div class="alert alert-danger" role="alert">
      <p><%= errorMessage %></p>
      <% if (recommendedTimeframe) { %>
        <p>Recommended timeframe: <%= recommendedTimeframe %> weeks</p>
      <% } %>
    </div>
  <% } %>

  <form action="/health/setWeightGoal" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="weightGoal" class="form-label">Weight Goal (kg):</label>
      <input type="number" id="weightGoal" name="weightGoal" class="form-control" required>
      <div class="invalid-feedback">
        Please enter your weight goal.
      </div>
    </div>
    <div class="mb-3">
      <label for="goalTimeframe" class="form-label">Goal Timeframe (weeks):</label>
      <input type="number" id="goalTimeframe" name="goalTimeframe" class="form-control" required>
      <div class="invalid-feedback">
        Please enter the timeframe for your goal.
      </div>
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<%- include('templates/footer') %>

<script>
  // function to prevent user from leaving the form blank
  (function () {
    'use strict'
    var forms = document.querySelectorAll('.needs-validation')
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>
