<%- include('templates/header') %>
<link rel="stylesheet" href="/css/weight.css">
<div class="container mt-5">
    <div id="weight-section">
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <span>Body Weight</span>
                </div>
                <div class="d-flex justify-content-between my-2">
                    <span id="the-start">Start: <span id="start-weight"></span></span>
                    <span id="the-current">Current: <span id="current-weight"></span></span>
                    <span id="the-progress">Progress: <span id="progress"></span></span>
                </div>
                <canvas id="weightGraph" width="400" height="200"></canvas>
            </div>
        </div>
        <div id="addWeightFormWrapper" class="form-inline">
            <form id="addWeightForm" class="d-flex align-items-center">
                <input type="number" id="weightInput" class="form-control mr-2" placeholder="Enter weight" required>
                <button type="submit" class="btn btn-secondary">Add</button>
            </form>
        </div>
        <div id="weight-entries" class="list-group mb-3">
            <!-- Weight entries will be populated here -->
        </div>
    </div>
</div>

<script src="/script/weight.js"></script>
<%- include('templates/footer') %>

<style>
/* weight.css */

#addWeightForm {
    display: flex;
    align-items: center;
}

#weightInput {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f8f8f8;
    margin-right: 10px;
    outline: none;
}

#weightInput::placeholder {
    font-weight: bold;
    color: #aaa;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.badge-pill {
    margin-left: 10px;
}
#addWeightFormWrapper {
    padding: 10px;
}


</style>
