<footer class="bottom-nav fixed-bottom">
    <nav class="nav justify-content-around w-100 h-100">
        <a id="homepage" class="nav-link text-white flex-fill text-center" href="/home">
            <i class="bi bi-house-heart nav-icon"></i>
        </a>
        <a id="botpage" class="nav-link text-white flex-fill text-center" href="/bot">
            <i class="bi bi-robot nav-icon"></i>
        </a>
        <a id="blogpage" class="nav-link text-white flex-fill text-center" href="/blog">
            <i class="bi bi-journal-text nav-icon"></i>
        </a>
        <a id="profilepage" class="nav-link text-white flex-fill text-center" href="/user/profile">
            <i class="bi bi-person-lines-fill nav-icon"></i>
        </a>
    </nav>
</footer>

<!-- jQuery and Popper.js for Bootstrap 5 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
<!-- Other JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/script/blogPage.js"></script>
<script src="/script/footer.js"></script>
<script src="/script/userProfile.js"></script>
<script src="/script/homeHiddenPTag.js"></script>
</body>
</html>
